#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-align: center;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-family:"Fira Sans", "Trebuchet MS", Ubuntu, Helvetica, Arial, sans-serif; ;
  font-size: 16px;
  line-height: 1.5;
  color: #404040
}

body {
  background-color: #bae6f5;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}


.bg-custom-gradient {
  @apply bg-gray-700;
  background-image: repeating-linear-gradient(-45deg, #6a6a6a 0, #6a6a6a 2px, #727272 2px, #727272 11px);
}

.text-indent-initial {
  text-indent: initial;
}

